* {
    margin:0;
    padding: 0;
    }

.tieude {
    font-size: 27px;
    text-transform: uppercase;
    padding: 30px 0;
    color: pink;
}

.suggest h5.address {
    font-size: 17px;
}

.suggest h5.name {
    font-size: 17px;
    margin: 6px 0;
}

.suggest img {
    width: 100%;
    height: 70%;
}
    
    .contact .ct {
    padding-left: 60px;
    }
    
    .contact li {
    padding-bottom: 5px;
    }
    
    .contact i.fas {
    padding-right: 20px;
    float: left;
    }
    
    i.fas.fa-map-marker-alt {
    padding-bottom: 33px;
    }
    
    .bando {
        width: 100%;
        height: 50%;
    }
    
    .aboutus ul {
    color: #252323;
    }
    
    .slogan {
    padding: 65px 0;
    }
    
    .slogan h1 {
    font-size: 45px;
    }
    
    .intro h5 {
    padding-top: 19px;
    }
    
    .team h1 {
    font-size: 45px;
    padding-bottom: 30px;
    }
    
    .aboutus h1,.slogan h1 {
    font-size: 45px;
    }
    
    .ourteam img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }
    
    .ourteam {
    overflow: hidden;
    background: #1d1c1c;
    padding: 40px 0;
    color: white;
    }
    
    .aboutus p,.slogan p {
    font-size: 18px;
    color: #888282;
    }
    
    .aboutus {
    padding: 65px 0;
    color: #403e3e;
    }
    
    a.btn.btn-success {
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 34px 18px 34px;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    background: #e53d34;
    border-color: #e53d34;
    text-transform: uppercase;
    }
    
    .banner p {
    font-size: 20px;
    color: #888282;
    }
    
    .banner h1 {
    font-size: 50px;
    }
    
    a.navbar-brand.text-xs-center.text-sm-left {
    color: white;
    font-family: 'Megrim', cursive;
    font-size: 60px;
    }
    
    nav.navbar.navbar-dark.bg-primary {
    background: black !important;
    }
    
    .logovamenu {
    height: 100%;
    width: 100%;
    margin-bottom: 119px;
    }
    
    html,body {
    height: 100%;
    width: 100%;
    }
    
    #button {
        background: #d242c7c4;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        position: fixed;
        bottom: 5px;
        right: 5px;
        border-radius: 5px;
        padding: 9px;
        font-size: 21px;
        z-index: 1000;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
    }
    
    .show {
        opacity: 1 !important;
        visibility: visible !important;
    }
    
    
    
    /* contact */
    
    iframe {width: 100%;height: 100%;}
    
    .ct h1 {
    margin-top: -49px;
    }
    
    span.phone {
    color: red;
    margin-bottom: 0px;
    }
    
    .ct ul {
    list-style: none;
    padding-top: 49px;
    }
    
    .contact span, .test p, .contact i {
    font-size: 16px;
    color: #888282;
    }
    
    i.far.fa-envelope {
    padding-right: 9px;
    }
    
    .contact .test h1, .ct h1 {
    font-family: 'Megrim', cursive;
    font-size: 33px;
    color: #dc1212;
    }
    
    .contact {
    padding: 55px 0;
    color: #3e3c3c;
    }
    
    /* het contact */
    
    /* ourteam */
    
    .gt p {
    padding-bottom: 45px;
    color: #888282;
    font-size: 16px;
    }
    
    .intro h5 {
        padding-top: 19px;
    }
    
    .team h1 {
        font-size: 45px;
        padding-bottom: 8px;
    }
    
    .aboutus h1,.slogan h1 {
        font-size: 45px;
        color: #3e3c3c;
    }
    
    .ourteam img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .ourteam {
        overflow: hidden;
        background: rgba(0, 0, 0, 0.92);
        padding: 40px 0;
        color: white;
    }
    
    /* het ourteam */
    
    /* aboutus */
    
    .aboutus p,.slogan p {
        font-size: 16px;
        color: #888282;
    }
    
    .aboutus {
        padding: 55px;
        color: #403e3e;
    }
    
    /* het aboutus */
    
    /* logovamenu */
    
    a.btn.btn-success {
        font-weight: 800;
        letter-spacing: 1px;
        padding: 15px 34px 18px 34px;
        border-radius: 27px;
        -moz-border-radius: 27px;
        -webkit-border-radius: 27px;
        background: #e53d34;
        border-color: #e53d34;
        text-transform: uppercase;
        font-size: 12px;
    }
    
    
    .banner p {
        font-size: 20px;
        color: #888282;
    }
    
    .banner h1 {
        font-size: 50px;
    }
    
    a.navbar-brand.text-xs-center.text-sm-left {
        color: white;
        font-family: 'Megrim', cursive;
        font-size: 60px;
    }
    
    nav.navbar.navbar-dark.bg-primary {
        background: black;
    }
    
    .logovamenu {
        height: 100%;
        width: 100%;
        margin-bottom: 119px;
    }
    
    html,body {
        height: 100%;
        width: 100%;
        font-family: 'Cardo', serif;
    }
    
    .logovamenu .dropdown-menu a {
        color: white;
        text-transform: uppercase;
        line-height: 30px;
        }
        
    .logovamenu .bg-primary ul li ul.dropdown-menu {background: rgb(0, 0, 0);text-align: center;margin-top: 0px;left: 82%;border-radius: 0 !important;}
    
    
    .banner {
        background: url(images/1.jpg);
        height: 100%;
        background-size: cover;
        color: white;
        padding-top: 150px;
        background-attachment: fixed;
    }
    
    .logovamenu a.nav-link {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 77px;
        color: black;
        margin-right: 25px;
        margin-top: 13px;
    }
    
    /* het logovamenu */
    
    
    
    /* footer */
    
    .footer i.fab.fa-google-plus-g {
        background: #ea4c89;
    }
    
    .footer i.fab.fa-instagram {
        background: #3f729b;
    }
    
    .footer i.fab.fa-facebook-f {
        background: #3b5998;
    }
    
    .footer i {
        color: white;
        height: 50px;
        width: 50px;
        background: red;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        margin-top: 57px;
        margin-right: 10px;
    }
    
    .footer i.fab.fa-twitter {
        background: #55acee;
    }
    
    .footer {
        background: black;
        /* margin-top: 119px; */
    }
    
    .footer p {
        color: #8c8989;
        font-size: 12px;
        padding-top: 60px;
        padding-bottom: 60px;
        font-family: 'Cardo', serif;
    }
    
    /* het footer */
    
    
    
    /* logovamenu */
    
    .banner {
    background: url(images/1.jpg);
    height: 99%;
    background-size: cover;
    color: white;
    padding-top: 150px;
    }
    
    a.nav-link {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 77px;
    color: black;
    margin-right: 25px;
    margin-top: 13px;
    }
    
    /* het logovamenu */
    
    
    
    /* footer */
    
    .footer i.fab.fa-google-plus-g {
    background: #ea4c89;
    }
    
    .footer i.fab.fa-instagram {
    background: #3f729b;
    }
    
    .footer i.fab.fa-facebook-f {
    background: #3b5998;
    }
    
    .footer i {
    color: white;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-top: 57px;
    margin-right: 10px;
    }
    
    .footer i.fab.fa-twitter {
    background: #55acee;
    }
    
    .footer {
    background: black;
    /* margin-top: 119px; */
    }
    
    .footer p {
    color: #8c8989;
    font-size: 12px;
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
    /* het footer */


/* form */

#root {
    padding: 10px;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.form_label {
    min-width: 70px;
    display: inline-block;
}

#btn_search {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search:hover {
    background-color: greenyellow;
}

.inp_1 {
    margin-bottom: 16px;
}

select, input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h2 {
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
}

label {
    color: whitesmoke;
    font-family: 'cardo' serif;
}


/* het form */